/* 
body {
    background-color: #57dd98;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}




.form-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 700px;
    width: 100%;
}


input, select {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    box-sizing: border-box;
}


.submit {
    padding: 10px 20px;
    background-color: #39cb2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #2aa21f;
}

html, body {
    height: 100%;
    margin: 0;
}

.header { 
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: Arial, sans-serif;
    background-color: #ea7171; 
}




     */
